.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.row{
	margin-bottom: 20px;
}

.red-box{
	height: 150px;
	width: 150px;
	background-color: red;
}

#display-row .red-box{
	display: inline-block;
	margin-right: 20px;
}

#float-row .red-box{
	float: left;
	margin-right: 20px;
}

#position-row {
	position: relative;
}

#position-row section {
	position: absolute;
}

#lposition{
	left: 0px;
}

#cposition{
	left: 170px;
}

#rposition{
	left: 340px;
}